.App {
  text-align: center;
}

body{
  margin:0;
font-family: Inter,sans-serif;
background-color: #282D35;

}
 
  nav {
     display: flex;
     align-items: center;
     height: 90px;
     padding: 30px 25px;
     background-color:#21222A;
     
   }
  nav > img{
    width:80px;
    margin-right:7px;
  }
  nav >h3 >h4{
    margin: 0;
  }
  nav>h4{
    color:#DEEBF8;
    font-weight: 600;
  }
  nav > h3{
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
  }

main{
 
  color: #ffff;
  padding: 57px 40px;
  background-image:url(./reactjs-icon.png) ;
  background-repeat: no-repeat;
  background-position-x:right ;
  background-position-y: center;

}

.main--title{
  margin:0;
  font-size: 39px;
  letter-spacing: -0.05em;
}
.main--facts {
  margin-top: 46px;
}
.main--facts >li{

 max-width: 350px;
 padding-block: 10px; 

}
.main--facts >li::marker{
  font-size: 1.6rem;
  color: #61DAFB;
}